@media screen and (max-width: 1040px) {
    .about-article .about-article-main h1{
        font-size: 40px;
    }
    .about-article .about-article-side h2{
        font-size: 30px;
    }
    .about-article .about-article-side h3{
        text-wrap: nowrap;
        font-size: 20px;
    }
    .about-article p{
        padding: 8px 18px;
    }
}



@media screen and (max-width: 650px){
    .about-article .article-social-links{
        display: block;
        margin-bottom: 10px;
    }
}




@media screen and (max-width: 450px){
    .about-article .about-article-main{
        padding: 8px;
        border: 2px solid blue;
    }
    .about-article .about-article-main h1{
        font-size: 26px;
        width: 80%;
        margin: 10px 10%;
        border-bottom: 2px solid blue;
    }
    .about-article .about-article-side h2{
        font-size: 23px;
    }
    .about-article .about-article-side h3{
        text-wrap: nowrap;
        font-size: 19px;
    }
    .about-article p{
        font-size: 12px;
    }

}



@media screen and (max-width: 390px) {
    .about-article-side .about-article-side-links{
        float: none;
        width: 87%;
        box-sizing: border-box;
    }
}