@media screen and (max-width: 1250px) {

    .info-info .info-career div{
        width: 130px;
    }

}




@media screen and (max-width: 1040px) {

    .info-info .info-img p{
        font-size: 25px;
        line-height: 25px;
    }
    .mySlides .info-info{
        width: 70%;
        margin: 30px 15%;
    }

}




@media screen and (max-width: 850px){
    .mySlides .info-info{
        width: 82%;
        margin: 30px 8%;
    }
}




@media screen and (max-width: 700px) {
    .mySlides .info-info{
        width: 90%;
        margin: 30px 5%;
    }
    .info-info .info-img p{
        font-size: 22px;
        line-height: 22px;
    }
    .mySlides .info-info .info-career div{
        padding: 7px 3px;
    }
    .info-info .info-career div img{
        width: 30%;
        margin-right: 50%;
    }
    .info-info .info-career div p{
        font-size: 15px;
    }
}




@media screen and (max-width: 650px) {

    .mySlides .info-info{
        width: 94%;
        margin: 20px 3%;
    }
    .info-info .info-img p{
        font-size: 20px;
        line-height: 20px;
    }
    .mySlides .info-info .info-career div{
        padding: 6px 3px;
    }
    .info-info .info-career div img{
        width: 25%;
        margin-right: 50%;
    }
    .info-info .info-career div p{
        font-size: 12px;
    }

}




@media screen and (max-width: 600px){

    .mySlides .info-info{
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
    }
    .profile .profile-info p{
        margin: 3px 10px;
    }
    .info-info .info-img{
        padding: 30px 10px;
        width: 65%;
        margin-left: 19%;
    }
    .mySlides .info-info .info-img{
        margin-left: 18%;
    }
    .mySlides .info-info .info-career{
        box-sizing: border-box;
        padding-right: 20px;
    }
    .mySlides .info-info .info-career div{
        padding: 15px 20px;
    }
    .profile .dot {
        height: 9px;
        width:9px;
    }
    

}



@media screen and (max-width: 500px) {

    .mySlides .info-info{
        width: 100%;
        margin: 15px 0%;
    }
    .mySlides .info-info .info-img{
        margin-left: 15%;
    }
    .mySlides .info-info .info-career div{
        padding: 15px 20px;
    }
    .mySlides .info-info .info-career div{
        padding: 10px 15px;
    }

}



@media screen and (max-width: 450px) {
    .profile .profile-info p{
        margin: 3px 8px;
        line-height: 18px;
        font-size: 11px;
    }
    .info-info .info-img p{
        font-size: 18px;
        line-height: 18px;
        padding: 20px;
    }
    .mySlides .info-info .info-career div{
        padding: 10px 9px;
    }
    .mySlides .info-info .info-career{
        box-sizing: border-box;
    }

}